In [1]:
import pandas as pd
credits = pd.read_csv("the-movies-dataset/credits.csv")
#keywords = pd.read_csv("the-movies-dataset/keywords.csv")
#links = pd.read_csv("the-movies-dataset/links.csv")
#ratings = pd.read_csv("the-movies-dataset/ratings.csv")

In [ ]:
metadata = pd.read_csv("the-movies-dataset/movies_metadata.csv")

In [2]:
import json

In [3]:
import csv

with open("the-movies-dataset/credits.csv") as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    for i in range (0,1):
        #print(row[0])
        data = row[0]
        #print(['cast_id'][0])
        #print(row[0])

NameError: name 'row' is not defined

In [4]:

from ast import literal_eval

python_dict = literal_eval(data)

NameError: name 'data' is not defined

In [ ]:
#tempdic = literal_eval(credits['cast'][1])

In [6]:
python_dict = [];

In [7]:
#len(credits)

In [10]:
python_dict = [];
for i in range(0,10):
    tempdic = literal_eval(credits['cast'][i])
    python_dict = tempdic +python_dict

In [11]:
len(python_dict)

223

In [14]:
python_dict[0]

{'cast_id': 1,
 'character': 'James Bond',
 'credit_id': '52fe426ec3a36847f801e10d',
 'gender': 2,
 'id': 517,
 'name': 'Pierce Brosnan',
 'order': 0,
 'profile_path': '/1JXL0zrA26JjdoX8sqf57fJRDVM.jpg'}

In [15]:
df =pd.DataFrame(python_dict)

In [16]:
print(df.head(1))

   cast_id   character                 credit_id  gender   id            name  \
0        1  James Bond  52fe426ec3a36847f801e10d       2  517  Pierce Brosnan

   order                      profile_path
0      0  /1JXL0zrA26JjdoX8sqf57fJRDVM.jpg

In [17]:
print(df)

     cast_id                           character                 credit_id  \
0          1                          James Bond  52fe426ec3a36847f801e10d
1          2                      Alec Trevelyan  52fe426ec3a36847f801e111
2          3         Natalya Fyodorovna Simonova  52fe426ec3a36847f801e115
3          4                       Xenia Onatopp  52fe426ec3a36847f801e119
4          5                           Jack Wade  52fe426ec3a36847f801e11d
5          6                                   M  52fe426ec3a36847f801e121
6          7  General Arkady Grigorovich Ourumov  52fe426ec3a36847f801e125
7          8        Valentin Dmitrovich Zukovsky  52fe426ec3a36847f801e129
8          9                     Boris Grishenko  52fe426ec3a36847f801e12d
9         10     Defense Minister Dmitri Mishkin  52fe426ec3a36847f801e131
10        11                                   Q  52fe426ec3a36847f801e135
11        12                     Miss Moneypenny  52fe426ec3a36847f801e139
12        13                         Bill Tanner  52fe426ec3a36847f801e13d
13        14                            Caroline  52fe426ec3a36847f801e141
14        15              Severnaya Duty Officer  52fe426ec3a36847f801e145
15        37               Admiral Chuck Farrell  5401b8650e0a2658ee004a76
16        38              Computer Store Manager  5401b87f0e0a2658db004acf
17        39                               Irina  5401b88d0e0a2658e2004c04
18        40                                Anna  5401b8a70e0a2658e2004c07
19        41                           Mig Pilot  5401b8ba0e0a2658db004ad3
20         1        Darren Francis Thomas McCord  52fe44dbc3a36847f80ae0e3
21         2                         Joshua Foss  52fe44dbc3a36847f80ae0e7
22         4                    Matthew Hallmark  52fe44dbc3a36847f80ae0eb
23        15         Vizepr√§sident Daniel Bender  52fe44dbc3a36847f80ae12b
24        16                               Tyler  52fe44dbc3a36847f80ae12f
25        17                        Emily McCord  546114d90e0a2672bc000447
26         2                          Tom Sawyer  52fe46bdc3a36847f810f771
27         3                           Huck Finn  52fe46bdc3a36847f810f775
28         4                      Becky Thatcher  52fe46bdc3a36847f810f779
29         5                         Muff Potter  52fe46bdc3a36847f810f77d
..       ...                                 ...                       ...
193       13               Sarah Whittle (young)  52fe44bfc3a36847f80a7ca9
194       31                        Exterminator  52fe44c0c3a36847f80a7cff
195       12             Mrs. Thomas the Realtor  52fe44bfc3a36847f80a7ca5
196       28                            Benjamin  52fe44c0c3a36847f80a7cf3
197       29                               Caleb  52fe44c0c3a36847f80a7cf7
198       30                        Billy Jessup  52fe44c0c3a36847f80a7cfb
199       32                                 Cop  5588053fc3a36838530063f5
200       33                                 Bum  55935687925141645a002097
201       34                        Jim Shepherd  559356d09251415df8002cb7
202       35                     Martha Shepherd  55935730925141645a0020ad
203       36                        Gun Salesman  5593576992514167fd000610
204       37                           Paramedic  559357ae92514152de002f42
205       50                           Paramedic  5657803b925141018f00a5dc
206       39                                Girl  559358e292514152de002f63
207       40                                Girl  5593590d92514152db002df3
208       41                               Baker  55935946c3a36869d1001b4d
209       42                             Pianist  5593597692514167fd000644
210       14                       Woody (voice)  52fe4284c3a36847f8024f95
211       15              Buzz Lightyear (voice)  52fe4284c3a36847f8024f99
212       16             Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d
213       17                  Slinky Dog (voice)  52fe4284c3a36847f8024fa1
214       18                         Rex (voice)  52fe4284c3a36847f8024fa5
215       19                        Hamm (voice)  52fe4284c3a36847f8024fa9
216       20                     Bo Peep (voice)  52fe4284c3a36847f8024fad
217       26                        Andy (voice)  52fe4284c3a36847f8024fc1
218       22                         Sid (voice)  52fe4284c3a36847f8024fb1
219       23                  Mrs. Davis (voice)  52fe4284c3a36847f8024fb5
220       24                    Sergeant (voice)  52fe4284c3a36847f8024fb9
221       25                      Hannah (voice)  52fe4284c3a36847f8024fbd
222       27                TV Announcer (voice)  52fe4284c3a36847f8024fc5

     gender       id                    name  order  \
0         2      517          Pierce Brosnan      0
1         2       48               Sean Bean      1
2         1    10695       Izabella Scorupco      2
3         1    10696           Famke Janssen      3
4         2    10671           Joe Don Baker      4
5         1     5309              Judi Dench      5
6         2     3757          Gottfried John      6
7         2     1923         Robbie Coltrane      7
8         2    10697            Alan Cumming      8
9         2    10698            Tch√©ky Karyo      9
10        2     9906        Desmond Llewelyn     10
11        1    10699           Samantha Bond     11
12        2    10648         Michael Kitchen     12
13        1    10700           Serena Gordon     13
14        2    10701              Simon Kunz     14
15        0    55911       Billy J. Mitchell     15
16        2    27425     Constantine Gregory     16
17        1     6613           Minnie Driver     17
18        1    29054         Michelle Arthur     18
19        2    41742           Ravil Isyanov     19
20        2    15111   Jean-Claude Van Damme      0
21        2     6280           Powers Boothe      1
22        2     8656         Dorian Harewood      2
23        2    10361        Raymond J. Barry      3
24        2    12928           Ross Malinger      4
25        1    79088          Whittni Wright      5
26        2    53283  Jonathan Taylor Thomas      0
27        2    51214             Brad Renfro      1
28        1    38581      Rachael Leigh Cook      2
29        2     8316         Michael McShane      3
..      ...      ...                     ...    ...
193       1    56523        Laura Bell Bundy      9
194       2    51551             James Handy     10
195       1    56522          Gillian Barber     11
196       2  1000304           Brandon Obray     12
197       0   188949          Cyrus Thiedeke     13
198       0  1076551      Gary Joseph Thorup     14
199       0  1480246            Leonard Zola     15
200       2    25024             Lloyd Berry     16
201       2    27110         Malcolm Stewart     17
202       0    53715         Annabel Kershaw     18
203       2  1379424        Darryl Henriques     19
204       0  1235504          Robyn Driscoll     20
205       2    25389            Peter Bryant     21
206       0  1483449            Sarah Gilson     22
207       0  1483450            Florica Vlad     23
208       0  1483451               June Lion     24
209       0  1483452       Brenda Lockmuller     25
210       2       31               Tom Hanks      0
211       2    12898               Tim Allen      1
212       2     7167             Don Rickles      2
213       2    12899              Jim Varney      3
214       2    12900           Wallace Shawn      4
215       2     7907       John Ratzenberger      5
216       1     8873             Annie Potts      6
217       0  1116442             John Morris      7
218       2    12901         Erik von Detten      8
219       1    12133          Laurie Metcalf      9
220       2     8655            R. Lee Ermey     10
221       1    12903           Sarah Freeman     11
222       2    37221           Penn Jillette     12

                         profile_path
0    /1JXL0zrA26JjdoX8sqf57fJRDVM.jpg
1    /iIxP2IzvcLgr5WaTBD4UfSqaV3q.jpg
2    /hMhy6vd7vyWb06aKqbbx9Nba55X.jpg
3    /9wHWq6Mnfpn8L1diMxjr26ReZWl.jpg
4    /bLvWzzb9SyoyjwPpj5pgzXb9tuC.jpg
5    /2is9RvJ3BQAku2EtCmyk5EZoxzT.jpg
6    /hOVrTlQwZX4THosi9usXISC7mNS.jpg
7    /u07QKPs7wvXxzjXi1UUBSGjjmQm.jpg
8    /sGlkbGy5yWAKuAOzWVWPMONxM4f.jpg
9    /9rMF25F5r3Giix9jkwfuUz2utHv.jpg
10   /6dYMQoMSZ6iVZTbcgjpzypTZ2pr.jpg
11   /vBPkMGAHIoOP2ni9yYKoxCbw4Z0.jpg
12   /bt1UWcegfSflLONcFN6XNqgayZt.jpg
13   /uiqwc2Y7wP7gSbT0h3db9Mm8YDh.jpg
14   /tkjaXZuR8F94q6r2RW5aeHXWJhZ.jpg
15                               None
16   /2zJA2LCS6utcD9hvXpDkRtY55ZO.jpg
17   /iWqTeFmdoY8V8RLcH89K75AKeQN.jpg
18   /zKQFuK3W4LMzfIz8W86RYf6jGp7.jpg
19   /kJkFC0qq7OeXgFTpBffWaSaeuOZ.jpg
20   /aqZ9RjL5j44HMlBMvTaawhHiGOH.jpg
21   /3nNL6AvMAYq0BmHKM79RnRZVq3i.jpg
22   /qSHAaRlh8yjTHtYReU0CUWgSFt5.jpg
23   /k4WDNgYHOUgRaPQIsZUPUxl1lO6.jpg
24   /oeqoxZ3WgQRUE1DusC68SACHHrC.jpg
25                               None
26   /1S8DpfNv6iiQRuKFPtb5u6sCQ5G.jpg
27   /t97fjAtDrBHTv9ABwwwHDzdKtpo.jpg
28   /cotGJui5H2Te2ThYERndc3DOVOm.jpg
29   /aCiOde1ijVveYObBCxtWWRi9UP9.jpg
..                                ...
193  /8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg
194  /vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg
195  /qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg
196                              None
197                              None
198                              None
199                              None
200  /s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg
201  /l2vgzkLR7GRr8ugjZCILA0OiliI.jpg
202  /1VqbvAohBwFhETZtDe76JXQcxKm.jpg
203  /7QMHooY9ewNQlE24WKAOdwW0evU.jpg
204                              None
205  /fkcx9Tnp25UC5HlI2eW3nGvumsZ.jpg
206                              None
207                              None
208                              None
209                              None
210  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
211  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
212  /h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
213  /eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
214  /oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
215  /yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
216  /eryXT84RL41jHSJcMy4kS3u9y6w.jpg
217  /vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
218  /twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
219  /unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
220  /r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
221                              None
222  /zmAaXUdx12NRsssgHbk1T31j2x9.jpg

[223 rows x 8 columns]

In [192]:
temp[0:20]

'"[{\'cast_id\': 1, \'ch'

In [193]:
temp[0:15]

'"[{\'cast_id\': 1'

In [195]:
json.dumps("?")

'"?"'

In [169]:
credits.dtypes

cast    object
crew    object
id       int64
dtype: object

In [158]:
print(metadata.shape)
cleanmeta = metadata[(metadata['adult'] == 'False') & (metadata['revenue'] != 0) ]
print(cleanmeta.shape)
cleanmeta['budget'] = cleanmeta.budget.astype(float)
#leanmeta.dtypes
cleanmeta2 = cleanmeta[(cleanmeta['budget'] != 0 )]
print(cleanmeta2.shape)
cleanmeta2

(45466, 24)
(7411, 24)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

adult                     object
belongs_to_collection     object
budget                   float64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

(5381, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,False,NaN,62000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
13,False,NaN,44000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,False,NaN,52000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise ‚Äì Las Vegas ...,...,1995-11-22,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,False,NaN,16500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,False,NaN,4000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it‚Äôs nothing like show b...",Get Shorty,False,6.4,305.0
22,False,NaN,50000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
24,False,NaN,3600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
26,False,NaN,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
28,False,NaN,18000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': 'ÂπøÂ∑ûËØù / Âª£Â∑ûË©±'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
31,False,NaN,29500000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0
35,False,NaN,11000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,1995-12-29,39363635.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350.0
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,1995-08-18,122195920.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0
44,False,NaN,20000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,1995-05-20,21284514.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177.0
45,False,NaN,10000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,1995-10-06,23574130.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38.0
46,False,NaN,33000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,1995-09-22,327311859.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,1995-06-14,346079773.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509.0
49,False,NaN,6000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,1995-07-19,23341568.0,106.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334.0
51,False,NaN,15000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11448,tt0113819,en,Mighty Aphrodite,"When Lenny and his wife, Amanda, adopt a baby,...",...,1995-09-13,6700000.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mighty Aphrodite,False,6.7,145.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000.0,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44140,False,NaN,3000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,52891,tt1124396,ru,Gitler kaput!,A Russian WW2 spy spoof following misadventure...,...,2008-09-18,9713500.0,99.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}, {'iso_...",Released,NaN,Hitler's Kaput!,False,3.6,7.0
44152,False,NaN,2500000.0,[],NaN,69976,tt1620464,ru,Glukhar v kino,NaN,...,2010-05-06,1477030.0,0.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Glukhar v kino,False,5.9,4.0
44166,False,NaN,4000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,100791,tt2288121,ru,Tot yeshchyo Karloson!,"The hero of Mikhail Galustyan, known in our wo...",...,2012-03-15,9938268.0,80.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,That still Karloson!,False,3.5,6.0
44249,False,NaN,82000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,43228,tt0050530,en,I Was a Teenage Werewolf,A meat-eating teenager (Michael Landon) sees a...,...,1957-06-19,2000000.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Explosive! Amazing! Terrifying! You won't beli...,I Was a Teenage Werewolf,False,5.2,12.0
44274,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,369907963.0,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
44282,False,NaN,21000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,293768,tt1458169,en,Kidnap,Single mother Karla McCoy lives a perfect life...,...,2017-08-04,24527158.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance is a Mother,Kidnap,False,6.0,244.0
44337,False,NaN,197471676.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,339964,tt2239822,en,Valerian and the City of a Thousand Planets,"In the 28th century, Valerian and Laureline ar...",...,2017-07-20,90024292.0,137.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,NaN,Valerian and the City of a Thousand Planets,False,6.7,905.0
44383,False,NaN,7000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,272610,tt3266724,en,Black Rose,A Russian Police Major is enlisted by the LAPD...,...,2014-04-17,855450.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Black Rose,False,2.0,6.0
44426,False,NaN,7400000.0,"[{'id': 10769, 'name': 'Foreign'}, {'id': 53, ...",NaN,66526,tt0220656,ta,‡ÆÆ‡ØÅ‡Æ§‡Æ≤‡Øç‡Æµ‡Æ©‡Øç,A man accepts a challenge to act as the Chief ...,...,1999-11-07,22000000.0,169.0,"[{'iso_639_1': 'ta', 'name': '‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç'}]",Released,NaN,Mudhalvan,False,6.3,6.0
44428,False,NaN,2000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,72663,tt1227165,ru,–ù–∏—Ä–≤–∞–Ω–∞,"Young Alisa is fed up with her life in Moscow,...",...,2008-07-03,273137.0,93.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Nirvana,False,4.7,5.0
44557,False,NaN,10000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",http://www.batalion-film.ru/,326011,tt4187590,ru,–ë–∞—Ç–∞–ª—å–æ–Ω—ä,"Russia, 1917, WWI. This is the story of the 1s...",...,2015-02-20,7547762.0,120.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,First. Female. Immortal.,The Battalion,False,5.9,6.0
44580,False,NaN,5300000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,8453,tt0439662,hi,Fanaa,Zooni Ali Beg (Kajol) is a blind Kashmiri girl...,...,2006-05-26,22175908.0,168.0,"[{'iso_639_1': 'hi', 'name': '‡§π‡§ø‡§®‡•ç‡§¶‡•Ä'}, {'iso_...",Released,Destroyed in love...,Fanaa,False,6.7,53.0
44632,False,NaN,30000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.atomicblonde.com/,341013,tt2406566,en,Atomic Blonde,An undercover MI6 agent is sent to Berlin duri...,...,2017-07-26,90007945.0,115.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",Released,NaN,Atomic Blonde,False,6.1,748.0
44678,False,NaN,100000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.dunkirkmovie.com/,374720,tt5013056,en,Dunkirk,The miraculous evacuation of Allied soldiers f...,...,2017-07-19,519876949.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The event that shaped our world,Dunkirk,False,7.5,2712.0
44711,False,NaN,8500000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14570,tt0089243,en,Gymkata,Johnathan Cabot is a champion gymnast. In the ...,...,1985-05-03,5730596.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The skill of gymnastics, the kill of karate.",Gymkata,False,4.7,14.0
44791,False,NaN,8520000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,434119,tt5606538,ko,Í≥µÏ°∞,When a crime organization from North Korea cro...,...,2017-01-18,56100000.0,125.0,"[{'iso_639_1': 'ko', 'name': 'ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê'}]",Released,NaN,Confidential Assignment,False,6.2,5.0
44821,False,"{'id': 34055, 'name': 'Pok√©mon Collection', 'p...",16000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pok√©mon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pok√©mon: Spell of the Unknown,Pok√©mon: Spell of the Unknown,False,6.0,144.0
44842,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,604942143.0,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
44848,False,"{'id': 162782, 'name': 'Mommies Collection', '...",2000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,159447,tt2592500,ru,"–° –Ω–æ–≤—ã–º –≥–æ–¥–æ–º, –º–∞–º—ã!","A continuation of a famous Russian comedy ""Mam...",...,2012-12-27,11666088.0,90.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,"Mommies, Happy New Year!",False,5.3,9.0
44850,False,NaN,2000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,75438,tt1820462,ru,Beremennyy,The main character of the film Sergey Dobrolyu...,...,2011-07-21,8000000.0,81.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Pregnant,False,3.1,7.0
44856,False,NaN,3000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,57701,tt1820555,ru,Na Kryuchke!,"Rita, a figure skating coach, wants to prevent...",...,2011-02-03,1957000.0,90.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,On the Hook!,False,4.7,3.0
44970,False,NaN,2196531.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,26147,tt0453365,fi,FC Venus,"Pete is a football enthusiast, who plays as a ...",...,2005-12-30,2411594.0,107.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,FC Venus,False,5.6,10.0
45014,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",http://thedarktower-movie.com,353491,tt1648190,en,The Dark Tower,"The last Gunslinger, Roland Deschain, has been...",...,2017-08-03,71000000.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There are other worlds than these,The Dark Tower,False,5.7,688.0
45139,False,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",http://www.theemoji-movie.com/,378236,tt4877122,en,The Emoji Movie,"Gene, a multi-expressional emoji, sets out on ...",...,2017-07-28,66913939.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not easy being meh,The Emoji Movie,False,5.8,327.0
45167,False,NaN,11000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,395834,tt5362988,en,Wind River,An FBI agent teams with the town's veteran gam...,...,2017-08-03,184770205.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing is harder to track than the truth.,Wind River,False,7.4,181.0
45250,False,NaN,12000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,‡Æö‡Æø‡Æµ‡Ææ‡Æú‡Æø,Corrupt police and politicians target a comput...,...,2007-06-14,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': '‡Æ§‡ÆÆ‡Æø‡Æ¥‡Øç'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0
45399,False,NaN,750000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,280422,tt3805180,ru,–í—Å–µ –∏ —Å—Ä–∞–∑—É,NaN,...,2014-06-05,3.0,0.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,All at Once,False,6.0,4.0
45409,False,NaN,800000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,62757,tt0933361,en,Dikari,"The sea, August, interesting and simple people...",...,2006-11-23,1328612.0,100.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Savages,False,5.8,6.0
45412,False,NaN,2000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,63281,tt1718881,en,–ü—Ä–æ –ª—é–±–æff,"–£ –¥–µ–≤—É—à–∫–∏ –î–∞—à–∏, –ø—Ä–∏–µ—Ö–∞–≤—à–µ–π —Å –ø–æ–¥—Ä—É–≥–æ–π ¬´–ø–æ–∫–æ—Ä—è—Ç...",...,2010-09-30,1268793.0,107.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Pro Lyuboff,False,4.0,3.0
45422,False,NaN,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,63898,tt1110037,ru,–ê–Ω—Ç–∏–¥—É—Ä—å,Failing to complete an important assignment wi...,...,2007-09-06,1413000.0,91.0,"[{'iso_639_1': 'ru', 'name': 'P—É—Å—Å–∫–∏–π'}]",Released,NaN,Antidur,False,1.0,1.0

In [156]:
cleanmeta.dtypes

adult                     object
belongs_to_collection     object
budget                   float64
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [138]:
print(metadata.shape)
cleanmeta = metadata[(metadata['adult'] == 'False') & (metadata['revenue'] != 0) & (metadata['budget']!=0)]
print(cleanmeta.shape)
#cleanmeta.head()

(45466, 24)
(7411, 24)

(45466,)

In [118]:
cleanmeta

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
45436    True
45437    True
45438    True
45439    True
45440    True
45441    True
45442    True
45443    True
45444    True
45445    True
45446    True
45447    True
45448    True
45449    True
45450    True
45451    True
45452    True
45453    True
45454    True
45455    True
45456    True
45457    True
45458    True
45459    True
45460    True
45461    True
45462    True
45463    True
45464    True
45465    True
Name: adult, Length: 45466, dtype: bool

print(result.iloc[0])

need multiple column for multiple actors and crews
credits: cast: gender,id(represents actor name)
         crew: department(how to convert to #),gender,id
do we need multiple column as well? is there a way to iterate one elemnt in df
keywords: id
links: movieId, imdvId, 
movies_metadata: budget,genre(id,multiple),id,original language?,popularity,production company(id,multiple),production company(need to convert to #),release date, revenue,runtime,
##: excluding original title(id indicates title),non-adult, released movie only
ratings: userid, movieId,rating,timestamp