In [11]:
import pandas as pd
credits = pd.read_csv("the-movies-dataset/credits.csv")
keywords = pd.read_csv("the-movies-dataset/keywords.csv")
links = pd.read_csv("the-movies-dataset/links.csv")
metadata = pd.read_csv("the-movies-dataset/movies_metadata.csv")
ratings = pd.read_csv("the-movies-dataset/ratings.csv")

C:\Users\woja6494\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
print(credits['cast'].iloc[0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [15]:
result = pd.merge(credits, keywords, on='id')

In [ ]:
temp = pd.merge(metadata,links, on = 'imdbID')

In [ ]:
temp2 = pd.merge(temp,ratins, on='movie')

print(result.iloc[0])

In [5]:
import pandas as pd
credits = pd.read_csv("../the-movies-dataset/credits.csv")
keywords = pd.read_csv("../the-movies-dataset/keywords.csv")
links = pd.read_csv("../the-movies-dataset/links.csv")
metadata = pd.read_csv("../the-movies-dataset/movies_metadata.csv")
ratings = pd.read_csv("../the-movies-dataset/ratings.csv")

/Users/mfawaz/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(credits['cast'].iloc[0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [91]:

print(metadata.shape)
cleanmeta = metadata[(metadata['adult'] == 'False') & (metadata['revenue'] != 0)]
cleanmeta['budget'] = cleanmeta.budget.astype(float)
cleanmeta = cleanmeta[cleanmeta['budget']!=0]
print(cleanmeta.shape)
cleanmeta.head()

(45466, 24)
(5381, 24)

/Users/mfawaz/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
5,False,NaN,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
8,False,NaN,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0

In [64]:
result = pd.merge(credits, keywords, on='id')
result.head()

,cast,crew,id,keywords
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [63]:
temp = pd.merge(links, ratings, on = 'movieId')
temp.head()

   movieId  imdbId  tmdbId  userId  rating   timestamp
0        1  114709   862.0       8     4.0  1013443596
1        1  114709   862.0       9     4.5  1073837180
2        1  114709   862.0      12     4.0   943912205
3        1  114709   862.0      20     4.0  1368361348
4        1  114709   862.0      24     4.0   979869938

In [66]:
temp2 = pd.merge(result,metadata, on='id')
temp2.head()

Empty DataFrame
Columns: [cast, crew, id, keywords, adult, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 27 columns]

print(result.iloc[0])

In [93]:
actors = pd.merge(credits, metadata, on='id')
actors = credits.merge(cleanmeta, left_on='id', right_on='id', how='outer')
actors.head()
#print(credits.head())
print(actors['cast'][0])

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [106]:
# import json
# actorsstring = actors['cast'][0]
# actorsstring = actorsstring.replace("\'", "\"")
# parsed_json = json.loads(actorsstring)
from ast import literal_eval

# python_dict = literal_eval(actors['cast'][0])
# python_dict[0]['character']

python_dict = [];
for i in range(0,200):
    tempdic = literal_eval(actors['cast'][i])
    python_dict = tempdic +python_dict
actordict = pd.DataFrame(python_dict)
print(actordict)

      cast_id                 character                 credit_id  gender  \
0           1            Arthur Rimbaud  52fe460f9251416c91047b09       2
1           3             Paul Verlaine  52fe460f9251416c91047b13       2
2          12            Mathilde Maute  52fe460f9251416c91047b47       1
3          13          Isabelle Rimbaud  52fe460f9251416c91047b4b       1
4          14          Rimbaud's Mother  52fe460f9251416c91047b4f       0
5          15      Isabelle, as a child  52fe460f9251416c91047b53       0
6          16                  Frederic  52fe460f9251416c91047b57       2
7          17                   Vitalie  52fe460f9251416c91047b5b       0
8          18                 The Judge  52fe460f9251416c91047b5f       2
9          19  Mrs. Maute De Fleurville  52fe460f9251416c91047b63       0
10         20   Mr. Maute De Fleurville  52fe460f9251416c91047b67       2
11         21                    Carjat  52fe460f9251416c91047b6b       2
12         22                    Aicard  52fe460f9251416c91047b6f       0
13         23              Charles Cros  52fe460f9251416c91047b73       0
14         24                     André  52fe460f9251416c91047b77       2
15         25            Somalian Woman  52fe460f9251416c91047b7b       0
16         26                     Djami  52fe460f9251416c91047b7f       0
17          5              Jack McCloud  52fe474fc3a36847f812e813       2
18          6             Jeanne Holman  52fe474fc3a36847f812e817       1
19          7                Tom Holman  52fe474fc3a36847f812e81b       2
20          8                      Phil  52fe474fc3a36847f812e81f       2
21          9            Coach Schramka  52fe474fc3a36847f812e823       2
22         10                 Adult Tom  52fe474fc3a36847f812e827       2
23         11              Leland's Dad  52fe474fc3a36847f812e82b       2
24         12                     Joyce  52fe474fc3a36847f812e82f       1
25         13                     Scott  52fe474fc3a36847f812e833       2
26         14            Brian's Father  52fe474fc3a36847f812e837       2
27         15            Scott's Father  52fe474fc3a36847f812e83b       2
28         16           Sackin's Father  52fe474fc3a36847f812e83f       2
29         17           Leland's Mother  52fe474fc3a36847f812e843       1
...       ...                       ...                       ...     ...
3334       13     Sarah Whittle (young)  52fe44bfc3a36847f80a7ca9       1
3335       31              Exterminator  52fe44c0c3a36847f80a7cff       2
3336       12   Mrs. Thomas the Realtor  52fe44bfc3a36847f80a7ca5       1
3337       28                  Benjamin  52fe44c0c3a36847f80a7cf3       2
3338       29                     Caleb  52fe44c0c3a36847f80a7cf7       0
3339       30              Billy Jessup  52fe44c0c3a36847f80a7cfb       0
3340       32                       Cop  5588053fc3a36838530063f5       0
3341       33                       Bum  55935687925141645a002097       2
3342       34              Jim Shepherd  559356d09251415df8002cb7       2
3343       35           Martha Shepherd  55935730925141645a0020ad       0
3344       36              Gun Salesman  5593576992514167fd000610       2
3345       37                 Paramedic  559357ae92514152de002f42       0
3346       50                 Paramedic  5657803b925141018f00a5dc       2
3347       39                      Girl  559358e292514152de002f63       0
3348       40                      Girl  5593590d92514152db002df3       0
3349       41                     Baker  55935946c3a36869d1001b4d       0
3350       42                   Pianist  5593597692514167fd000644       0
3351       14             Woody (voice)  52fe4284c3a36847f8024f95       2
3352       15    Buzz Lightyear (voice)  52fe4284c3a36847f8024f99       2
3353       16   Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d       2
3354       17        Slinky Dog (voice)  52fe4284c3a36847f8024fa1       2
3355       18               Rex (voice)  52fe4284c3a36847f8024fa5       2
3356       19              Hamm (voice)  52fe4284c3a36847f8024fa9       2
3357       20           Bo Peep (voice)  52fe4284c3a36847f8024fad       1
3358       26              Andy (voice)  52fe4284c3a36847f8024fc1       0
3359       22               Sid (voice)  52fe4284c3a36847f8024fb1       2
3360       23        Mrs. Davis (voice)  52fe4284c3a36847f8024fb5       1
3361       24          Sergeant (voice)  52fe4284c3a36847f8024fb9       2
3362       25            Hannah (voice)  52fe4284c3a36847f8024fbd       1
3363       27      TV Announcer (voice)  52fe4284c3a36847f8024fc5       2

           id                         name  order  \
0        6193            Leonardo DiCaprio      0
1       11207                David Thewlis      1
2       40938             Romane Bohringer      2
3       19068              Dominique Blanc      3
4      150916                   Nita Klein      4
5     1163055    Felicie Pasotti Cabarbaye      5
6       46274               James Thiérrée      6
7     1163056              Emmanuelle Oppo      7
8       12952          Christopher Hampton      8
9      146375                Denise Chalem      9
10       2829              Andrzej Seweryn     10
11      35530         Christopher Thompson     11
12    1163057           Bruce Van Barthold     12
13    1163058          Christopher Chaplin     13
14     309816                 Mathias Jung     14
15    1163059                  Kettly Noel     15
16    1163060                     Cheb Han     16
17        723               Patrick Swayze      0
18       1161  Mary Elizabeth Mastrantonio      1
19       4787              Joseph Mazzello      2
20      24535         David Marshall Grant      3
21       6067               Jay O. Sanders      4
22      38085              Michael O'Keefe      5
23       4942                   John Diehl      6
24       6200                 Diane Venora      7
25      72862                 Brock Pierce      8
26     106119                   David Hart      9
27      50020              Scott Patterson     10
28      19454               Michael Laskin     11
29      42324           Annabelle Gurwitch     12
...       ...                          ...    ...
3334    56523             Laura Bell Bundy      9
3335    51551                  James Handy     10
3336    56522               Gillian Barber     11
3337  1000304                Brandon Obray     12
3338   188949               Cyrus Thiedeke     13
3339  1076551           Gary Joseph Thorup     14
3340  1480246                 Leonard Zola     15
3341    25024                  Lloyd Berry     16
3342    27110              Malcolm Stewart     17
3343    53715              Annabel Kershaw     18
3344  1379424             Darryl Henriques     19
3345  1235504               Robyn Driscoll     20
3346    25389                 Peter Bryant     21
3347  1483449                 Sarah Gilson     22
3348  1483450                 Florica Vlad     23
3349  1483451                    June Lion     24
3350  1483452            Brenda Lockmuller     25
3351       31                    Tom Hanks      0
3352    12898                    Tim Allen      1
3353     7167                  Don Rickles      2
3354    12899                   Jim Varney      3
3355    12900                Wallace Shawn      4
3356     7907            John Ratzenberger      5
3357     8873                  Annie Potts      6
3358  1116442                  John Morris      7
3359    12901              Erik von Detten      8
3360    12133               Laurie Metcalf      9
3361     8655                 R. Lee Ermey     10
3362    12903                Sarah Freeman     11
3363    37221                Penn Jillette     12

                          profile_path
0     /jToSMocaCaS5YnuOJVqQ7S7pr4Q.jpg
1     /1YhN379UKCPt94nbLzncsDHTC9T.jpg
2     /keVDM0uUbKmo0yOVNrjMuKiH1B2.jpg
3     /l52O3muXMMlUQMgY27o8vgUmTcq.jpg
4                                 None
5                                 None
6     /yFRYfPNxjKv2Wyuuo2FqAhnCaLv.jpg
7                                 None
8     /7L7S5KHE21jFGL2IS1VXqQJxx9R.jpg
9     /AkML9VI9Ztc2AXdICoXnCVZB2ix.jpg
10    /cv5QWhXGPhWdFYsGOtg3856uNYJ.jpg
11    /waz8EXJ8xVMa97XnSAh6KxFEvU8.jpg
12                                None
13                                None
14                                None
15                                None
16                                None
17    /3mpjuYiGfglDeaGjwFmSBBzwbc1.jpg
18    /jNIGODCEy216bbPnj28ky5E4L3Q.jpg
19    /zsBGvymDqB737PerJTqhS9dPuBd.jpg
20    /tKe6LIoceX8738rIELToYMuefCH.jpg
21    /wgCFAatAtmfN5zWgwzGgA48wwXu.jpg
22    /w6ssYHZER9wrZ1fWen6iUEQWYan.jpg
23    /hDUvgqpIv753skoeRGjVw6gYp7A.jpg
24    /3k7w5Y7gTAxN1JML7jhN8F8rVrS.jpg
25                                None
26                                None
27    /tXrO1CHnuR6zjpHh2JXNtozW0XC.jpg
28    /dt0nTgeDt8kfWWtpXvanE1L28q8.jpg
29    /fNubMSpdGfRT94qDsOKJs7BcdZd.jpg
...                                ...
3334  /8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg
3335  /vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg
3336  /qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg
3337                              None
3338                              None
3339                              None
3340                              None
3341  /s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg
3342  /l2vgzkLR7GRr8ugjZCILA0OiliI.jpg
3343  /1VqbvAohBwFhETZtDe76JXQcxKm.jpg
3344  /7QMHooY9ewNQlE24WKAOdwW0evU.jpg
3345                              None
3346  /fkcx9Tnp25UC5HlI2eW3nGvumsZ.jpg
3347                              None
3348                              None
3349                              None
3350                              None
3351  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
3352  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
3353  /h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3354  /eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
3355  /oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
3356  /yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
3357  /eryXT84RL41jHSJcMy4kS3u9y6w.jpg
3358  /vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
3359  /twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
3360  /unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
3361  /r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
3362                              None
3363  /zmAaXUdx12NRsssgHbk1T31j2x9.jpg

[3364 rows x 8 columns]

need multiple column for multiple actors and crews
credits: cast: gender,id(represents actor name)
         crew: department(how to convert to #),gender,id
do we need multiple column as well? is there a way to iterate one elemnt in df
keywords: id
links: movieId, imdvId, 
movies_metadata: budget,genre(id,multiple),id,original language?,popularity,production company(id,multiple),production company(need to convert to #),release date, revenue,runtime,
##: excluding original title(id indicates title),non-adult, released movie only
ratings: userid, movieId,rating,timestamp